.flex-data {
    display: flex;
}

.flex-data>p:last-child {
    flex-grow: 1;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.Toggle-Spool-Time {
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 1px;
    position: absolute;
    top: .8rem;
    right: 1.5rem;
    font-size: .625rem;
    font-weight: 500;
    line-height: 100%;
    text-align: right;
    font-variant-numeric: tabular-nums;
    color: var(--color-primary-dim);
}

.Toggle-Spool-Time>p:first-child {
    font-size: .75rem;
    color: var(--color-primary-text);
}

.Speed-Meter {
    position: relative;
    height: 100%;
    width: 4px;
    transform: scaleY(-1);
    margin-left: 4ch;
    margin-right: 24px;
    font-size: .6rem;
    font-weight: 500;
    line-height: 100%;
    font-variant-numeric: tabular-nums;
}

.Speed-Axis {
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 1px); */
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-primary-dim);
    z-index: 99;
}

.Speed-Axis::before, .Speed-Axis::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 4.5ch;
    top: auto;
    bottom: 0;
    right: 0;
    background-color: inherit;
}

.Speed-Axis::after {
    top: 0;
}

.Speed-Max {
    position: relative;
    height: 0%;
    width: 100%;
    background-color: #ee444499;
    z-index: 100;
    transform: translateX(4px);
}

.Speed-SCM {
    position: relative;
    height: 0%;
    width: 100%;
    background-color: var(--color-primary-text);
}

.Speed-Max.Fwd {
    position: absolute;
    top: 0;
    left: 7px;
    background-color: #ee444460;
}

.Speed-Max.Bwd {
    position: absolute;
    transform: None;
    background-color: #ee4444a0;
}

.Speed-Meter p {
    position: absolute;
    right: 6px;
    transform: scaleY(-1);
}

.Speed-Meter>p {
    bottom: 2px;
    color: var(--color-primary-dim);
}

.Speed-Max>p {
    bottom: 0;
    right: 10px;
    color: #ee444499;
}

.Speed-SCM>p {
    bottom: 0;
    right: 10px;
    color: var(--color-primary-text);
}

.Speed-Max.Fwd p {
    left: 6px;
    color: #ee444499;
}

.PYR-plot {
    display: flex;
    height: 10rem;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
}

/* .PYR-plot>div:last-child {
    flex-grow: 1;
} */

.Flight-char-info {
    font-size: .75em;
    font-weight: 600;
    flex-grow: 1;
}

.Flight-char-info .flex-data>p:first-child {
    font-weight: 400;
}

.Flight-char-info hr {
    background-color: var(--color-primary-dimmer);
    border: None;
    height: 1px;
}

.Flight-char-info .red {
    color: #ee4444d0;
}

.PYR-plot-self {
    width: 5.5rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    font-size: .66em;
    font-weight: 600;
}

.PYR-plot-self p>span {
    color: var(--color-primary-sat);
}

.PYR-plot-self>*:last-child {
    margin-top: .5rem;
}