.flex-data {
    display: flex;
}

.flex-data>p:last-child {
    flex-grow: 1;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.Speed-Meter {
    position: relative;
    /* background-color: var(--color-bg); */
    height: 100%;
    width: 4px;
    transform: scaleY(-1);
    margin-left: .5rem;
    /* margin-top: 6px;
    margin-bottom: 8px; */
    /* border-radius: 4px; */
    /* overflow: hidden; */
}

.Speed-Axis {
    position: absolute;
    bottom: 0;
    /* left: calc(50% - 1px); */
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-primary-dim);
    z-index: 99;
}

.Speed-Max {
    position: relative;
    height: 0%;
    width: 100%;
    background-color: #ee444499;
    z-index: 100;
    transform: translateX(4px)
}

.Speed-SCM {
    position: relative;
    height: 0%;
    width: 100%;
    background-color: var(--color-primary-text);
}

.Speed-Meter p {
    position: absolute;
    right: 6px;
    font-size: .6rem;
    transform: scaleY(-1);
    line-height: 100%;
}

.Speed-Max p {
    right: 10px;
}

.Speed-Meter p:first-of-type {
    bottom: 0;
}

.Speed-Meter p:last-of-type {
    top: 0;
}

.PYR-plot {
    display: flex;
    height: 10rem;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
}

/* .PYR-plot>div:last-child {
    flex-grow: 1;
} */

.Flight-char-info {
    font-size: .875rem;
    flex-grow: 1;
}

.PYR-plot-self {
    height: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
}