.acceleration-plot {
    position: relative;
    min-height: 20px;
    height: 100%;
    flex-shrink: 0;
}

.accel-forward-section {
    position: relative;
}

.axis-X {
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary-dim);
}

.axis-Y {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--color-primary-dim);
}

.accel-forward-rect, .accel-forward-rect-afterburner {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--color-primary-text);
}

.accel-forward-rect-afterburner {
    background-color: #ee4444;
    opacity: .6;
}

.accel-backward-section {
    position: relative;
}

.accel-backward-rect, .accel-backward-rect-afterburner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--color-primary-text);
}

.accel-backward-rect-afterburner {
    background-color: #ee4444;
    opacity: .6;
}

.accel-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-bg);
    width: 80%;
    opacity: .3;
    aspect-ratio: 1 / 1;
}