.background-exit {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem;

    --transition-duration: .15s;
    visibility: hidden;
    background-color: #00000000;
    backdrop-filter: blur(0px);
    transition:
        background-color var(--transition-duration),
        backdrop-filter var(--transition-duration),
        visibility 0s var(--transition-duration);
}

.background-exit.on {
    visibility: visible;
    background-color: #00000060;
    backdrop-filter: blur(30px);
    transition:
        background-color var(--transition-duration),
        backdrop-filter var(--transition-duration),
        visibility 0s;
}

.background-exit>* {
    opacity: 0;
    transform: scale(.95);
    transition:
        opacity var(--transition-duration),
        transform var(--transition-duration);
}

.background-exit.on>* {
    opacity: 1;
    transform: scale(1);
}

.Ship-selector-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0 #00000040;
    color: var(--color-text);
    overflow: hidden;
    max-width: 1280px;
}

.Ship-selector-container>.title-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    padding: .5rem 1rem;
    flex-shrink: 0;
}

.Ship-selector-container>.title-bar>h2 {
    font-weight: 500;
    margin-left: 1rem;
}

.Ship-selector-container>.contents>.Ship-selector-filter {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.Ship-selector-container>.contents>.Ship-selector-filter {
    display: none;
}

.Ship-selector-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: #2d2d2d;
    padding: .25rem;
    border-radius: 100rem;
}

.Ship-selector-filter>button.circleIconBtn {
    position: relative;
    fill: var(--color-text);
    color: var(--color-text);
}

.Ship-selector-filter>button.circleIconBtn>svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.Ship-selector-filter>button.circleIconBtn.off {
    fill: rgb(127, 127, 127);
    color: rgb(127, 127, 127);
}

.Ship-selector-filter>button.circleIconBtn::before, .Ship-selector-filter>button.circleIconBtn::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(2rem / 16);
    height: 0;
    transform-origin: 0 0;
    transition: height .2s, background-color .2s;
}

.Ship-selector-filter>button.circleIconBtn::before {
    background-color: #2d2d2d;
    transform: translate(calc(-9.5rem / 16), calc(-9rem / 16)) rotate(-45deg);
}

.Ship-selector-filter>button.circleIconBtn::after {
    background-color: var(--color-text);
    transform: translate(calc(-11rem / 16), calc(-8rem / 16)) rotate(-45deg);
}

.Ship-selector-filter>button.circleIconBtn.off::before, .Ship-selector-filter>button.circleIconBtn.off::after {
    height: calc(19rem * 1.414 / 16);
}

.Ship-selector-filter>button.circleIconBtn.off::after {
    background-color: rgb(127, 127, 127);
}

.Ship-selector-filter label {
    margin-right: .5rem;
    user-select: none;
}

.Ship-selector-container>.title-bar>button.circleIconBtn {
    fill: var(--color-text);
    width: 2rem;
    height: 2rem;
}

.Ship-selector-container>.contents {
    /* padding: 0 2rem;
    padding-bottom: 2rem; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.filter-by-manufacturer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.filter-btn-and-tooltip {
    position: relative;
}

.filter-btn-and-tooltip>button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.7rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: all .15s;
}

.filter-btn-and-tooltip>button:hover {
    filter: brightness(1.1);
    border-radius: 1rem;
}

.filter-btn-and-tooltip>button:active {
    filter: brightness(1.2);
}

.filter-btn-and-tooltip>button>svg {
    width: 2rem;
    height: 2rem;
}

.filter-btn-and-tooltip>button+div {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 7rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    visibility: hidden;
    color: var(--color-bg);
    border-radius: 1rem;
    z-index: 2000;
    opacity: 0;
    transition: opacity .2s, visibility 0s .2s;
}

.filter-btn-and-tooltip>button:hover+div {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s, visibility 0s;
    user-select: none;
}

.ship-select-card-list-wrapper {
    /* padding: 0 calc(2rem - 16px) 2rem 2rem; */
    padding: 0 2rem 2rem 2rem;
    display: flex;
    overflow: hidden;
}

.ship-select-card-list::-webkit-scrollbar {
    width: 0;
}

.ship-select-card-list {
    width: 100%;
    border-radius: 1rem;
    overflow-y: auto;
    z-index: 1000;
}

@media screen and (max-width: 719px) {
    .background-exit {
        padding: 1rem;
    }

    .filter-by-manufacturer {
        padding: 0 1rem;
    }

    .ship-select-card-list-wrapper {
        padding: 0 1rem 1rem 1rem;
    }

    .filter-btn-and-tooltip>button {
        width: 2.9rem;
    }

    .filter-btn-and-tooltip>button>svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .Ship-selector-container>.title-bar {
        font-size: 12px;
    }

    .Ship-selector-container>.title-bar>h2 {
        margin-left: .5rem;
    }

    .Ship-selector-container>.title-bar>.Ship-selector-filter {
        display: none;
    }

    .Ship-selector-container>.contents>.Ship-selector-filter {
        display: flex;
    }
}