.Ship-selector-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    color: var(--color-text);
    max-width: 1280px;
}

.Ship-selector-container>.title-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
}

.Ship-selector-container .title-bar-bg-blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-bg-a);
    mask-image: linear-gradient(#000 40%, transparent);
    backdrop-filter: blur(20px) saturate(1.4);
}

.Ship-selector-container .title-bar {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    width: 100%;
    max-width: 1280px;
    padding: 1rem 0;
    flex-shrink: 0;
}

.Ship-selector-search-bar {
    height: 3.5rem;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: .5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: var(--color-bg-light-a);
    backdrop-filter: blur(20px) saturate(1.4);
    box-shadow: var(--acrylic-edge), var(--shadow-1);
    z-index: 1;
}

.Ship-selector-search-bar>* {
    flex-shrink: 0;
}

.Ship-selector-search-bar input {
    flex-grow: 1;
    width: 5rem;
    height: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 1.25rem;
    color: var(--color-text);
    background-color: transparent;
    cursor: text;
}

.Ship-selector-search-bar input::placeholder {
    color: var(--color-text);
}

.Ship-selector-search-bar input::-moz-placeholder {
    color: var(--color-text);
    opacity: 1;
}

.Ship-selector-search-bar input::-webkit-input-placeholder {
    color: var(--color-text);
}

.Ship-selector-filter-toggle {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-bg-lighter);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-1);
    overflow: hidden;
    transition: all .2s;
}

.Ship-selector-filter-toggle:hover {
    filter: brightness(1.4);
    transform: scale(1.05) translateY(-0.125rem);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-2);
}

.Ship-selector-filter-toggle.on {
    color: var(--color-bg-lighter);
    background-color: var(--color-text);
    box-shadow:
        var(--acrylic-edge),
        0 .125rem .875rem .125rem hsla(0, 0%, 90%, 60%);
}

.Ship-selector-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    background-color: var(--color-bg-light-a);
    backdrop-filter: blur(20px) saturate(1.4);
    box-shadow: var(--acrylic-edge), var(--shadow-1);
    border-radius: 1rem;
    overflow: visible;
    transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
}

.Ship-selector-filter.off {
    opacity: 0;
    margin-top: -7rem;
    visibility: hidden;
    transform: scale(.95);
}

.Ship-selector-filter>.filter-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
    padding: .25rem;
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn {
    position: relative;
    fill: var(--color-text);
    color: var(--color-text);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn>svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn.off {
    fill: rgb(127, 127, 127);
    color: rgb(127, 127, 127);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn.rotate90>svg {
    transform: rotate(90deg) scale(.9);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn::before, .Ship-selector-filter>.filter-first-row>button.circleIconBtn::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(2rem / 16);
    height: 0;
    transform-origin: 0 0;
    transition: height .2s, background-color .2s;
    z-index: 1;
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn::before {
    background-color: #2d2d2d;
    transform: translate(calc(-9.5rem / 16), calc(-9rem / 16)) rotate(-45deg);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn::after {
    background-color: var(--color-text);
    transform: translate(calc(-11rem / 16), calc(-8rem / 16)) rotate(-45deg);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn.off::before, .Ship-selector-filter>.filter-first-row>button.circleIconBtn.off::after {
    height: calc(19rem * 1.414 / 16);
}

.Ship-selector-filter>.filter-first-row>button.circleIconBtn.off::after {
    background-color: rgb(127, 127, 127);
}

.Ship-selector-filter>.filter-first-row label {
    margin-right: .5rem;
    user-select: none;
}

.filter-by-manufacturer {
    display: flex;
    --manu-button-size: 3rem;
    justify-content: space-between;
    gap: .5rem;
    width: 100%;
    padding: .5rem 2rem;
    overflow-x: auto;
    overflow-y: visible;
}

.filter-by-manufacturer>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: var(--manu-button-size);
    /* width: 10rem; */
    padding: 0 1rem;
    border-radius: 2rem;
    text-wrap: nowrap;
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-1);
    transition: all .15s;
    font-family: var(--font-geom);
}

.filter-by-manufacturer>button:hover {
    filter: brightness(1.2);
    border-radius: 1rem;
    /* transform: scale(1.05) translateY(-0.125rem); */
    transform: translateY(-0.125rem);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-2);
}

.filter-by-manufacturer>button:active {
    filter: brightness(1.4);
}

.filter-by-manufacturer>button>svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.Ship-selector-container>.contents {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    transition: margin-top cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
}

.Ship-selector-container>.contents.filter-drawer-on {
    margin-top: 8rem;
}

.ship-select-card-list-wrapper {
    /* padding: 0 calc(2rem - 16px) 2rem 2rem; */
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.ship-select-card-list::-webkit-scrollbar {
    width: 0;
}

.ship-select-card-list {
    width: 100%;
    border-radius: 1rem;
    /* overflow-y: auto; */
    z-index: 1000;
}

@media screen and (min-width: 720px) and (max-width: 1079px) {

    .Ship-selector-filter.off {
        opacity: 0;
        margin-top: -11.5rem;
    }

    .Ship-selector-container>.contents.filter-drawer-on {
        margin-top: 11.5rem;
    }
}

@media screen and (max-width: 719px) {

    .Ship-selector-filter.off {
        opacity: 0;
        margin-top: -15rem;
    }

    .Ship-selector-container>.contents.filter-drawer-on {
        margin-top: 15rem;
    }

    .ship-select-card-list-wrapper {
        padding: 1rem;
    }

    .Ship-selector-container>.title-bar {
        font-size: 12px;
    }

    .Ship-selector-container>.title-bar>h2 {
        margin-left: .5rem;
    }
}