.Docker-container {
    position: fixed;
    left: .75rem;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    width: 1rem;
    padding: 2rem .5rem;
    border-radius: 2rem;
    color: var(--color-text);
    fill: var(--color-text);
    background-color: var(--color-bg-lighter-a);
    backdrop-filter: blur(5px) saturate(1.4);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-3);
    z-index: 9000;
    transition: all .5s var(--curve-emphasized) .5s;
}

.Docker-container:hover {
    width: 4rem;
    padding: .5rem;
    background-color: var(--color-bg-light-a);
    overflow: visible;
    transition: all .5s var(--curve-emphasized);
}

.Docker-container>hr {
    border: none;
    flex-basis: 2px;
    flex-shrink: 0;
    align-self: stretch;
    margin: .5rem 0;
    background-color: var(--color-text);
    opacity: .25;
}

.Docker-tooltip {
    position: relative;
}

.Docker-tooltip>button+p {
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translate(100%, -50%);
    display: block;
    width: max-content;
    padding: 0 1ch;
    color: var(--color-bg);
    background-color: var(--color-text);
    font-family: var(--font-slim);
    font-weight: 500;
    border-radius: 100rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility 0s .2s;
}

.Docker-tooltip>button:hover+p {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s, visibility 0s;
}

.Docker-btns {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-text);
    background-color: var(--color-bg-lighter);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-1);
    overflow: hidden;
    transition: all .2s;
}

.Docker-btns:hover {
    filter: brightness(1.4);
    transform: scale(1.05) translateY(-0.125rem);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-2);
}

.Docker-btns>svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-text);
}

@media screen and (max-width: 1440px) {
    .Docker-container {
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        width: auto;
        height: 1rem;
        padding: .5rem 2rem;
    }

    .Docker-container:hover {
        width: auto;
        height: 4rem;
        padding: .5rem;
    }

    .Docker-container>hr {
        margin: 0 .5rem;
    }

    .Docker-tooltip>button+p {
        top: -1rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    .Docker-btns {
        width: auto;
        height: 100%;
    }
}