.Accel-plot-container {
    display: flex;
    width: 100%;
    padding: 0 .5rem;
    gap: .25rem;
    align-items: center;
    justify-content: space-between;
    font-variant-numeric: tabular-nums;
}

/* .Accel-plot-container>div:last-child {
    flex-grow: 1;
} */

.Accel-plot {
    height: 8rem;
}

.accel-flex-data {
    display: flex;
    font-size: .75rem;
    padding: 0 0rem;
    gap: 1ch;
    justify-content: center;
}

.accel-flex-data>p:nth-child(3) {
    color: #ee4444;
}