.panel-components-group {
    display: flex;
    gap: 1rem;
}

.panel-components-group-icon-title {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    text-align: center;
    gap: .5rem;
    padding-top: 1rem;
    line-height: 100%;
}

.panel-components-group-icon-title>svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-text);
}

.panel-components-group-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    flex-grow: 1;
}

.panel-components-group-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-bg-lighter);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-1);
    overflow: hidden;
}

.panel-components-group-item>.icon-wrapper {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding: calc(.125rem - 2px) calc(.125rem - 2px) .125rem .125rem;
    border-bottom-left-radius: .75rem;
}

.panel-components-group-item>.icon-wrapper>svg {
    width: 1.5rem;
    height: 1.5rem;
}

.panel-components-group-item-name-size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-components-group-item-name-size>p {
    font-size: 1.25rem;
}


.panel-components-group-item-grade {
    align-self: end;
    font-family: var(--font-slim);
    font-weight: 500;
    padding: 0 .5em;
    border-radius: 10rem;
}