#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
}

.title-card {
  background-color: var(--color-primary-bg);
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.title-card>* {
  z-index: 2;
}

.manufacturer-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-20%, -50%);
  fill: var(--color-text);
  opacity: .1;
  z-index: 1;
  height: 150%;
}

.ship-img-iso {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: calc(100% - 4rem);
  filter: drop-shadow(0 1.5rem 1rem #00000080)
}

.manufacturer {
  display: flex;
  opacity: .8;
  align-items: center;
  color: var(--color-primary-sat);
  gap: .5rem;
}

.manufacturer>div {
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  fill: var(--color-primary-sat);
}

.manufacturer>h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.ship-name {
  font-weight: 600;
}

.career-and-role {
  display: flex;
  gap: calc(1rem / 8);
  margin: .5rem 0;
  overflow: hidden;
}

.career-and-role>h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-primary-text);
  background-color: var(--color-bg);
  padding: 0 .5rem;
  border-radius: calc(1rem / 4);
  opacity: .66;
}

.career-and-role>h4:first-child {
  padding-left: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.career-and-role>h4:nth-child(2) {
  padding-right: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.career-and-role>h4:last-child {
  margin-left: .5rem;
  border-radius: 1rem;
  padding: 0 1rem;
}

.prices {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}