@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

:root {
  font-family: "Outfit", Inter, "Noto Sans SC", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--color-primary-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hue: 204;
  --color-bg: #1f1f1f;
  --color-text: #e3e3e3;
  /* --color-primary-bg: hsl(var(--hue), 50%, 16%); */
  --color-primary-bg: hsl(var(--hue), 20%, 19%);
  --color-primary-text: hsl(var(--hue), 100%, 90%);
  --color-primary-sat: hsl(var(--hue), 70%, 64%);
  --color-primary-dim: hsl(var(--hue), 30%, 50%);
}

::-webkit-scrollbar {
  background: var(--color-bg);
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: #00000040;
  border: 4px solid var(--color-bg);
  border-radius: 16px;
}

* {
  box-sizing: border-box;
}

.font-mono {
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

.font-slim {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

button {
  display: block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  line-height: 100%;
  transition: opacity .2s, background-color .2s;
}

button:focus,
button:focus-visible {
  outline: none;
}

.circleIconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.circleIconBtn:hover {
  background-color: #ffffff10;
  opacity: 1 !important;
}

.circleIconBtn:active {
  background-color: #ffffff20;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}