.SimpleInfo-container {
    position: relative;
    background-color: var(--color-primary-bg);
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
}


.SimpleInfo-container>* {
    position: relative;
    z-index: 2;
}

.SimpleInfo-container>.manufacturer-bg, .SimpleInfo-container>.ship-img-iso {
    position: absolute;
}

.SimpleInfo-container>.prices {
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.SimpleInfo-container>.basic-info {
    font-weight: 400;
    font-variant-numeric: tabular-nums;
}

.sml {
    font-size: .8rem;
}

.SimpleInfo-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-variant-numeric: tabular-nums;
}

.SimpleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: min-content;
}

.SimpleComponent {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
    fill: var(--color-text);
    background-color: var(--color-bg-light);
}


.SimpleComponent>.icon {
    width: 2rem;
    height: 2rem;
}

.SimpleComponent-contents {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
}

.SimpleComponent-type-sizes {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.SimpleComponent-name-grade {
    display: flex;
    justify-content: space-between;
    opacity: .75;
}

.SimpleInfo-weapons {
    color: var(--color-text);
    fill: var(--color-text);
}

.SimpleWeaponGroup-container {
    margin-bottom: .5rem;
}

.SimpleWeapon-container {
    margin-top: .25rem;
    background-color: var(--color-bg-light);
    border-radius: .5rem;
    padding: .25rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SimpleWeapon-container>p {
    opacity: .75;
}

.SimpleWeapon-subWeapon-container {
    padding-left: 2rem;
}