.SimpleInfo-container {
    position: relative;
    background-color: var(--color-bg-light);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
}


.SimpleInfo-container>* {
    position: relative;
    z-index: 2;
}

.SimpleInfo-container>.manufacturer-bg, .SimpleInfo-container>.ship-img-iso {
    position: absolute;
}

.SimpleInfo-container>.prices {
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.SimpleInfo-container>.prices>span {
    font-weight: 400;
    font-size: .9rem;
}

.SimpleInfo-container>.basic-info {
    font-weight: 400;
    font-variant-numeric: tabular-nums;
}

.sml {
    font-size: .8rem;
}

.SimpleInfo-title-bottom-banner {
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: hsl(var(--hue), 80%, 50%);
    left: 0;
    bottom: 0;
    padding-bottom: .5rem;
    display: flex;
    font-family: var(--font-slim);
    z-index: 0;
}

.SimpleInfo-title-bottom-banner>.small-texts {
    flex-basis: 30%;
    flex-grow: 1;
    color: hsla(var(--hue), 30%, 50%, 70%);
    background-color: var(--color-bg-light);
    padding: 0 1rem;
    padding-top: .25rem;
    border-radius: 0 0 .75rem .75rem;
    font-size: .8rem;
}

.SimpleInfo-title-bottom-banner>.small-texts:first-child {
    border-bottom-left-radius: 1rem;
    text-align: right;
}

.SimpleInfo-title-bottom-banner>.small-texts:last-child {
    border-bottom-right-radius: 1rem;
}

.SimpleInfo-title-bottom-banner>.small-logo {
    color: var(--color-bg-lighter);
    text-transform: uppercase;
    background-color: var(--color-bg-light);
}

.SimpleInfo-title-bottom-banner>.small-logo::after {
    content: "Star Citizen";
    display: block;
    background-color: hsl(var(--hue), 80%, 50%);
    padding: .25rem 1rem;
    border-radius: .75rem .75rem 0 0;
    font-weight: 500;
}

.SimpleInfo-contents {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1rem;
    font-variant-numeric: tabular-nums;
}

.SimpleGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1rem;
    height: min-content;
}

.SimpleComponent {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-text);
    fill: var(--color-text);
    background-color: var(--color-bg-light);
}


.SimpleComponent>.icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.SimpleComponent-contents {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.SimpleComponent-type-sizes {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.SimpleComponent-name-grade {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}

.SimpleComponent-name-grade>p:first-child {
    opacity: .75;
    flex-shrink: 1;
    word-break: break-word;
}

.SimpleComponent-name-grade>p:last-child {
    font-weight: 500;
    flex-shrink: 0;
}

.SimpleFuelTank-type-capacity {
    display: flex;
    justify-content: space-between;
}

.SimpleFuelTank-type-capacity>p:first-child {
    font-weight: 600;
}

.SimpleFuelTank-type-capacity>p:last-child {
    opacity: .75;
    font-family: var(--font-slim);
}

.SimpleInfo-contents .card-list {
    border-radius: 1rem;
    background-color: var(--color-bg-light);
    color: var(--color-text);
}

.SimpleInfo-weapons {
    color: var(--color-text);
    fill: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.SimpleInfo-weapons>* {
    flex-shrink: 0;
}

.SimpleInfo-weapons>.placeholder {
    flex-grow: 1;
    width: 100%;
    background-size: 2rem;
    background-position: center;
    opacity: .15;
    border-radius: 1rem;
}

.SimpleWeaponGroup-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.SimpleWeaponGroup-title>svg {
    height: 1.5rem;
    width: 1.5rem;
}

.SimpleWeapon-container {
    margin-top: .25rem;
    background-color: var(--color-bg-light);
    border-radius: .5rem;
    padding: .25rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .SimpleWeapon-container>p {
    opacity: .75;
} */

.SimpleWeapon-tail-icons {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.SimpleWeapon-tail-icons>svg {
    width: 1rem;
    height: 1rem;
}

.SimpleWeapon-tail-icons>* {
    flex-shrink: 0;
}

.SimpleWeapon-subWeapon-container {
    padding-left: 2rem;
}