.Ship-select-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1ch;
    padding: .75rem 1rem;
    border-radius: 1rem;
    overflow: hidden;
    line-height: 100%;
    height: 5rem;
    cursor: pointer;
    user-select: none;
    transition: filter .2s, box-shadow .2s;
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-1);
}

.Ship-select-card:hover {
    filter: brightness(1.1);
    box-shadow:
        var(--acrylic-edge),
        var(--shadow-2);
}

.Ship-select-card:active {
    filter: brightness(1.2);
}


.Ship-select-card-icon-bg {
    position: absolute;
    fill: var(--color-bg);
    opacity: .5;
    height: 120%;
    aspect-ratio: 1 / 1;
    left: 0;
    top: 50%;
    transform: translate(-10%, -50%);
}

.Ship-select-card-text {
    position: relative;
    z-index: 1100;
}



.Ship-select-card-text .tag {
    display: inline-block;
    vertical-align: top;
    margin-left: .25rem;
    font-size: .8rem;
    color: #808080;
    /* color: hsl(105, 70%, 40%); */
    border-radius: 100rem;
}

.Ship-select-card-text .tag>svg {
    display: inline-block;
    vertical-align: top;
}

.Ship-select-card-subtitle {
    font-size: .8rem;
    opacity: .5;
    font-weight: 500;
}

.Ship-select-card-prices {
    margin-top: .5rem;
    font-size: 1.25rem;
}

.rsi-price {
    font-weight: 500;
    font-variant-numeric: tabular-nums;
    color: hsl(20, 70%, 50%);
}

.in-game-price {
    margin-left: 1rem;
    font-family: var(--font-slim);
    font-weight: 500;
    color: #2c799f;
}

.Ship-select-card-img {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    right: .75rem;
    top: .75rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    filter: brightness(1.4) drop-shadow(0 .25rem .5rem #00000080)
}